html,
body {
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

div#main {
  position: relative;
  height: 200px;
  width: 200px;
  margin: auto;
  background-color: aqua;
  transition-property: transform;
  transform-origin: top left;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-play-state: paused;
}

div#main:hover {
  animation-play-state: running; /* Run on hover! */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
